<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NFC_SYSTEM</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.13/theme-chalk/index.css">
  <link rel="stylesheet" href="styles/main.css">
  <script src="js/vue.js"></script>
  <script src="js/chart.js"></script>
  <script src="js/vuechat2.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/xlsx.full.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.15.13/index.js"></script>
</head>
<body>
  <div id="app"></div>
  <script type="text/x-template" id="app-template">
    <div class="app-shell">
      <header>
            <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
    
              <div id="dvi" style="flex: 0 1 auto;"> <!-- DVI 靠左 -->
                <img src="logo.png" alt="Logo" class="logo">
                <label>{{ translatedText.area }}:</label>
                <select id="areaSelect" v-model="selectedArea" @change="handleInputChange">
                  <option value="ZH">ZH</option>
                  <option value="TC">TC</option>
                  <option value="VN">VN</option>
                  <option value="TW">TW</option>
                </select>
              <label>{{ translatedText.部門 }}:</label>
              <select id="DSelect" v-model="selectedD" @change="handleInputChange">
                <option value="1">1</option>                                                      
                <option value="2">2</option>                                                                                 
                <option value="3">3</option> 
                <option value="4">4</option>
                <option value="6">6</option>
              </select>
              <label>{{ translatedText.D }}</label>
              <select id="SSelect" v-model="selectedS" @change="handleInputChange">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <label>{{ translatedText.S }}</label>
              <select id="CSelect" v-model="selectedC" @change="handleInputChange">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="S1">S1</option>
                <option value="S2">S2</option>
                <option value="S3">S3</option>
                <option value="S4">S4</option>
                <option value="S5">S5</option>
                <option value="S6">S6</option>
              </select>
              <label>{{ translatedText.C }}</label>
              <select id="LSelect" v-model="selectedL" @change="handleInputChange">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
              </select>
              <label>{{ translatedText.L }}</label>
              
            </div>
        
            <div style="flex: 0 1 auto;">
                <label for="language-select">Language:</label>
                <select id="language-select" @change="changeLanguage">
                    <option value="zh">中文</option>
                    <option value="en">English</option>
                    <option value="vi">Tiếng Việt</option>
                </select>
            </div> 
        </div>
        <div id="header" v-if="showCLASS" style="flex: 1; text-align: center;"> <!-- HEADER 置中 -->
            {{ translatedText.在線生產看板 }}
          </div>
          <el-button type="warning" @click="staff_mange" style="float: left;">
            {{ translatedText.人員管理 }}
        </el-button>
        <el-button type="warning" @click="fqc_mange" style="float: left;">
          {{ translatedText.完工數量 }}
        </el-button>
              
          <div v-if="onlineData.length === 0"  >
              <label>{{ translatedText.在線人數 }}: 0</label>
          </div>
            <div v-else v-for="item in onlineData" :key="item.id" class="info-container">          
              <label >{{ translatedText.應出席人數 }}: {{ item.應出席人數 !== undefined ? item.應出席人數 : 0  }}</label>
              <label>{{ translatedText.實際出席人數 }}: {{ item.實際出席 }}</label>
              <label >{{ translatedText.請假人數 }}: {{ item.請假人數 !== undefined ? item.請假人數 : 0 }}</label>
              <label >{{ translatedText.流水線在線人數 }}: {{ item.在線人數 !== undefined ? item.在線人數 : 0 }}</label>
              <label >{{ translatedText.借入人數 }}: {{ item.借入人數 !== undefined ? item.借入人數 : 0 }}</label>
              <label >{{ translatedText.借出人數 }}: {{ item.借出人數 !== undefined ? item.借出人數 : 0 }}</label>
              <button @click="RESET" style="float: right;">RESET</button>
              <div  v-if="EFFOVER">
        
            <div class="eff-item">
                  <label class="eff-label" :class="{ 'text-danger': Number(EFFOVER.EFF) < 90 }">
                    {{ translatedText.本月效率 }}: 
                    {{ isNaN(Number(EFFOVER.EFF)) ? '0.00' : Number(EFFOVER.EFF).toFixed(2) }}%
                  </label>
                  <label class="eff-label" :class="{ 'text-danger': Number(EFFOVER.OVERQ) > 2 }">
                    {{ translatedText.本月溢領 }}: 
                    {{ isNaN(Number(EFFOVER.OVERQ)) ? '0.00' : Number(EFFOVER.OVERQ).toFixed(2) }}%
                  </label>
                  <label class="eff-label">
                    {{ translatedText.未結工單 }}: 
                    {{ isNaN(Number(EFFOVER.WOCOUNT)) ? '0' : Number(EFFOVER.WOCOUNT) }}
                  </label>
                  <label
                  class="eff-label"
                  :class="{ 'text-danger': Number(EFFOVER.WO6COUNT) > 0 }"
                >
                  {{ translatedText.逾期工單 }}: 
                  {{ isNaN(Number(EFFOVER.WO6COUNT)) ? '0' : Number(EFFOVER.WO6COUNT) }}
                </label>
                </div> 
                
                
              </div>
        
        
            </div>
      
          </header>
    <div class="right-content" v-if="showRealTimeContent">
    
    
    
      <hr></hr>
    
      <template >
        <div style="margin-bottom: 10px;">
          <el-button type="warning" @click="toggleEditMode" style="float: left;">
            {{ editMode ?  translatedText.完成  :   translatedText.調整   }}
    
      </el-button>
      <!-- 合併欄位開關 -->
      <el-switch
        v-model="isMergeEnabled"
        :active-text="translatedText.欄位合併" /></el-switch> 
      <el-switch v-model="showline" :active-text="translatedText.做線"></el-switch>
      <el-switch v-model="showdefectForming" :active-text="translatedText.成型S"></el-switch>
      <el-switch v-model="showDefectWelding" :active-text="translatedText.焊接"></el-switch>
    
          <el-switch v-model="table01" :active-text="translate(selectedProcess1)"></el-switch>  
          <el-switch v-model="table02" :active-text="translate(selectedProcess2)"></el-switch>  
          <el-switch v-model="table03" :active-text="translate(selectedProcess3)"></el-switch>  
          <el-switch v-model="table04" :active-text="translate(selectedProcess4)"></el-switch>  
          <el-switch v-model="table05" :active-text="translate(selectedProcess5)"></el-switch>  
          <el-switch v-model="table06" :active-text="translate(selectedProcess6)"></el-switch>  
    
      </div>
    
    <!--<el-table :data="tableData" border style="width: 100%; margin-top: 10px;" :span-method="mergeTable">-->
      <el-table :data="tableData" border  :span-method="mergeTable" :summary-method="getSummaries" show-summary  :row-class-name="tableRowClassName">
    
    
    
          <el-table-column v-if="editMode" label="操作"    min-width="40px"  >
              <template slot-scope="scope">
                  <el-button type="danger" icon="el-icon-delete" size="mini" @click="removeRow2(scope.row,scope.$index)"></el-button>
              </template>
          </el-table-column>
          <el-table-column  prop="time" id="time"  min-width="100px"  >
            <template slot="header"  >
              <span >時段<br> thời gian</span>
          </template>
              <template slot-scope="scope">
                  <el-select v-model="scope.row.time" :disabled="!editMode"  @input="resetExpected(scope.row, scope.$index)"style="width: 100%;" :class="{ 'edit-mode': editMode }" >
                      <el-option 
                          v-for="[label, value] in Object.entries(timeOptions)" 
                          :key="label" 
                          :label="label" 
                          :value="label">
                      </el-option>
                  </el-select>
              </template>
          </el-table-column>
    
          <el-table-column   prop="people" id="people"   min-width="60px">
            <template slot="header">
              <span width="10px">人數<br><small>Số người</small></span>
          </template>
              <template slot-scope="scope">
                  <el-input  v-model.number="scope.row.people"  @input="resetExpected(scope.row, scope.$index)" :disabled="!editMode || !scope.row.time" type="number" min="1"  :class="{ 'edit-mode': editMode } "   ></el-input>
              </template>
          </el-table-column>
      
      
          <el-table-column  prop="wohourse" id="wohourse"   min-width="60px" align="center">
            <template slot="header">
              <span>總時數<br><small>Tổng số giờ</small></span>
          </template>
              <template slot-scope="scope">
                {{ (calculateHours(scope.row)).toFixed(2) }}
              </template>
          </el-table-column>
      
          <el-table-column prop="product" id="product"  min-width="150px">
            <template slot="header">
              <span>品名<br>Tên sản phẩm</span>
          </template>
            <template slot-scope="scope">
                <el-select v-model="scope.row.product" :disabled="!editMode" style="width: 100%;"  @input="resetExpected(scope.row, scope.$index)":class="{ 'edit-mode': editMode }" style="width: 100%;">
                    <el-option 
                        v-for="item in productOptions" 
                        :key="item.value" 
                        :label="item.label" 
                        :value="item.value">
                    </el-option>
                </el-select>
            </template>
        </el-table-column>
    
          <el-table-column  prop="workhorse" id="workhorse" min-width="80px">
            <template slot="header">
              <span>輸入工時<br>Nhập giờ<br>làm việc</span>
          </template>
              <template slot-scope="scope">
                  <el-input 
                  v-model.number="scope.row.workhorse"  
                  @input="resetExpected(scope.row, scope.$index)" 
                  @blur="formatDecimal(scope.row, 'workhorse')" 
                  :disabled="!editMode" 
                  type="number" 
                  step="0.1" 
                  min="0.0"
                  :class="{ 'edit-mode': editMode }">
              </el-input>
              </template>
          </el-table-column>
    
          <!-- <el-table-column label="預期產量">
              <template slot-scope="scope">
                  {{ calculateExpected(scope.row, scope.$index) }}
              </template>
          </el-table-column>-->
      
          <el-table-column   prop="expected" id="expected" min-width="80px">
            <template slot="header">
              <span>標準產能<br>Số lượng <br>tiêu chuẩn</span>
          </template>
              <template slot-scope="scope">
                  <!-- 使用 v-model 綁定 scope.row.expected，並觸發 @blur 檢查手動修改 -->
                  <el-input 
                      v-model.number="scope.row.expected" 
                      :disabled="true" 
                      type="number" 
                      min="0" 
                      @blur="updateExpected(scope.row,scope.$index)"
                      :class="{ 'edit-mode': editMode }">
                  </el-input>
              </template>
          </el-table-column>
          <el-table-column  prop="actual" id="actual" min-width="100px">
            <template slot="header">
              <span>實際產出<br>Số lượng<br>thực tế</span>
          </template>
              <template slot-scope="scope">
                  <el-input v-model.number="scope.row.actual" :disabled="!editMode" type="number" min="0" :class="{ 'edit-mode': editMode }"></el-input>
              </template>
          </el-table-column>
          <el-table-column prop="efficiency" id="efficiency" min-width="70px">
            <template slot="header">
              <span class="nowrap-text">效率<br>hiệu quả</span>
            </template>
            <template slot-scope="scope">
              <span :class="{
                'low-efficiency': Number(calculateEfficiency(scope.row)) < 90 
              }">
                {{ calculateEfficiency(scope.row) }}%
              </span>
            </template>
          </el-table-column>  
          <el-table-column  prop="NG" id="NG"  min-width="70px" >
            <template slot="header">
              <span>不良品<br>Hàng NG</span>
          </template>
              <template slot-scope="scope">
                  <el-input v-model.number="scope.row.NG" :disabled="!editMode" type="number" min="0" :class="{ 'edit-mode': editMode }"></el-input>
              </template>
          </el-table-column>
          <el-table-column  prop="line" id="line"  min-width="70px" class="no-space"  v-if="showline">
            <template slot="header">
              <span  class="nowrap-text">做線<br>làm dây</span>
          </template>
              <template slot-scope="scope">
                  <el-input v-model="scope.row.line" :disabled="!editMode" type="number" min="0" :class="{ 'edit-mode': editMode }"></el-input>
              </template>
          </el-table-column>
             <!-- 根據開關狀態顯示/隱藏 -->
          <el-table-column  prop="defectForming" id="defectForming"  min-width="70px" v-if="showdefectForming">
              <template slot="header">
                <span>成型<br>thành hình</span>
            </template>
              <template slot-scope="scope">
                  <el-input v-model.number="scope.row.defectForming" :disabled="!editMode" type="number" min="0" :class="{ 'edit-mode': editMode }"></el-input>
              </template>
          </el-table-column>
          <el-table-column prop="defectWelding" id="defectWelding"  min-width="70px" v-if="showDefectWelding">
            <template slot="header"  >
              <span>焊接<br>Hàn</span>
          </template>
              <template slot-scope="scope">
                  <el-input v-model.number="scope.row.defectWelding" :disabled="!editMode" type="number" min="0" :class="{ 'edit-mode': editMode }"></el-input>
              </template>
          </el-table-column>
    
    
          <el-table-column
          :render-header="renderHeaderWithSelect1"
          v-if="table01"
          min-width="70px"
          prop="other1"
        >
          <template slot-scope="scope">
            <el-input
              v-model="scope.row.other1"
              :disabled="!editMode"
              type="number"
              min="0"
              :class="{ 'edit-mode': editMode }"
            ></el-input>
          </template>
        </el-table-column>
        
        <el-table-column
          :render-header="renderHeaderWithSelect2"
          v-if="table02"
          min-width="70px"
          prop="other2"
        >
          <template slot-scope="scope">
            <el-input
              v-model.number="scope.row.other2"
              :disabled="!editMode"
              type="number"
              min="0"
              :class="{ 'edit-mode': editMode }"
            ></el-input>
          </template>
        </el-table-column>
        
        <el-table-column
          :render-header="renderHeaderWithSelect3"
          v-if="table03"
          min-width="70px"
          prop="other3"
        >
          <template slot-scope="scope">
            <el-input
              v-model.number="scope.row.other3"
              :disabled="!editMode"
              type="number"
              min="0"
              :class="{ 'edit-mode': editMode }"
            ></el-input>
          </template>
        </el-table-column>
        <el-table-column
        :render-header="renderHeaderWithSelect4"
        v-if="table04"
        min-width="70px"
        prop="other4"
      >
        <template slot-scope="scope">
          <el-input
            v-model.number="scope.row.other4"
            :disabled="!editMode"
            type="number"
            min="0"
            :class="{ 'edit-mode': editMode }"
          ></el-input>
        </template>
      </el-table-column>
      <el-table-column
      :render-header="renderHeaderWithSelect5"
      v-if="table05"
      min-width="70px"
      prop="other5"
    >
      <template slot-scope="scope">
        <el-input
          v-model.number="scope.row.other5"
          :disabled="!editMode"
          type="number"
          min="0"
          :class="{ 'edit-mode': editMode }"
        ></el-input>
      </template>
    </el-table-column>
    <el-table-column
    :render-header="renderHeaderWithSelect6"
    v-if="table06"
    min-width="70px"
    prop="other6"
    >
    <template slot-scope="scope">
      <el-input
        v-model.number="scope.row.other6"
        :disabled="!editMode"
        type="number"
        min="0"
        :class="{ 'edit-mode': editMode }"
      ></el-input>
    </template>
    </el-table-column>
    
      
      
      
      
      
      </el-table>
      
      <el-collapse v-model="activeCollapse" class="mt-3" v-if="Object.keys(productSummary).length > 0">
        <el-collapse-item :title="translatedText.依產品分類加總資料" name="1">
          <el-table :data="Object.entries(productSummary)" border size="mini">
            <el-table-column :label="translatedText.品名"  align="center">
              <template slot-scope="scope">
                {{ scope.row[0] }}
              </template>
            </el-table-column>
    
            <el-table-column :label="translatedText.輸入工時" align="center">
              <template slot-scope="scope">
                {{ scope.row[1].workhorse.toFixed(2) }}
              </template>
            </el-table-column>
            <el-table-column :label="translatedText.標準產能"  align="center">
              <template slot-scope="scope">
                {{ scope.row[1].expected }}
              </template>
            </el-table-column>
            <el-table-column :label="translatedText.實際產出" align="center">
              <template slot-scope="scope">
                {{ scope.row[1].actual }}
              </template>
            </el-table-column>
            <el-table-column :label="translatedText.不良品" align="center">
              <template slot-scope="scope">
                {{ scope.row[1].NG }}
              </template>
            </el-table-column>
            <el-table-column :label="translatedText.不良率" align="center">
              <template slot-scope="scope">
                <span :class="{
                  'low-efficiency': Number((scope.row[1].NG / scope.row[1].actual) * 100)  >= 3 
                }">
                  {{
                    scope.row[1].actual > 0
                      ? ((scope.row[1].NG / scope.row[1].actual) * 100).toFixed(2) + '%'
                      : '0.00%'
                  }}
                </span>
              </template>
            </el-table-column>
            
            <el-table-column :label="translatedText.效率" align="center">
              <template slot-scope="scope">
                <span :class="{
                  'low-efficiency': Number(scope.row[1].efficiency) < 90 
                }">
                  {{ scope.row[1].efficiency }}%
                </span>
                
    
              </template>
            </el-table-column>
          </el-table>
        </el-collapse-item>
      </el-collapse>
      
      
      <el-button v-if="editMode" type="primary" icon="el-icon-plus" @click="addRow" style="margin-top: 10px;">{{ translatedText.New }}</el-button>
        </template>
        
    
     
          
    
    
      <table>
          <caption >
            <el-button type="warning" @click="wo_mange" style="float: left;">
                {{ translatedText.工單管理 }}
        
            </el-button>{{ translatedText.工單列表 }}</caption>
          <thead>
            <tr>
              <th>{{ translatedText.ID }}</th>
              <th>{{ translatedText.工單 }}</th>
              <th>{{ translatedText.品名 }}</th>
              <th>{{ translatedText.數量 }}</th>
              <th>{{ translatedText.標準工時 }}</th>
              <th>{{ translatedText.執行工時 }}</th>
              <th>{{ translatedText.當前效率 }}</th>
              <th>{{ translatedText.過往效率 }}</th>
              <th>{{ translatedText.做線 }}</th>
              <th>{{ translatedText.焊接 }}</th>
              <th>{{ translatedText.成型 }}</th>
              <th>{{ translatedText.已完成數量 }}</th>
              <th>{{ translatedText.ERP入庫數量 }}</th>
    
    
            </tr>
          </thead>
        
          <tbody>
            <template v-for="(item, index) in realTimeData">
             <!--  <template v-if="(index === 0 || item.NFC_CODE !== realTimeData[index - 1].NFC_CODE) "> -->
              <template v-if="(index === 0 || item.NFC_CODE !== realTimeData[index - 1].NFC_CODE) || (item.NFC_CODE == realTimeData[index - 1].NFC_CODE && realTimeData[index - 1].Trans_id == 'LOT_PAUSE')">
    
                <!-- 只在編號的第一行渲染 -->
                <tr :key="item.WO_ID" v-if="item.Trans_id !== 'LOT_PAUSE'">
                  <td :rowspan="getRowSpan(index)" :style="{ backgroundColor: getBackgroundColor(item.NFC_CODE), textAlign: 'center', verticalAlign: 'middle' }">{{ item.NFC_CODE }}</td>
                  <td :style="{ backgroundColor: getBackgroundColor(item.NFC_CODE), textAlign: 'center', verticalAlign: 'middle' }">{{ item.WO_ID }}</td>
                  <td >{{ item.PART_DESC }}</td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.std }}</td>
                  <td v-if="item.time > 0">{{ item.time.toFixed(2) }}</td>
                  <td v-else>{{ translatedText.未生產 }}</td>
                  <!--  <td v-if="item.time > 0">{{ (item.std / item.time * 100).toFixed(2) }}%</td>
                  <td v-else></td>-->
                  <td v-if="item.FQC > 0">{{ (((item.FQC / item.time )/(item.qty/item.std))*100).toFixed(2) }}%</td>
                  <td v-else></td>
                  <td v-if="item.PasstEFF > 0 ">{{ (item.PasstEFF * 100).toFixed(2) }}%</td>
                  <td v-else>近一年無生產</td>
                  <td v-if="index === 0" :rowspan="realTimeData.length">{{ item.LINE }}</td>
                  <td v-if="index === 0" :rowspan="realTimeData.length">{{ item.WELD }}</td>
                  <td v-if="index === 0" :rowspan="realTimeData.length">{{ item.MD }}</td>
                  <td v-if="item.FQC > 0">{{ item.FQC}}</td>
                  <td v-else></td>
                  <td v-if="item.ship_qty > 0">{{ item. ship_qty }}</td>
                  <td v-else></td>
    
                </tr>
              </template>
              <template v-else>
                <!-- 編號相同的其他行 -->
                <tr :key="item.WO_ID"  v-if="item.Trans_id !== 'LOT_PAUSE'">
                  <td :style="{ backgroundColor: getBackgroundColor(item.NFC_CODE), textAlign: 'center', verticalAlign: 'middle' }">{{ item.WO_ID }}</td>
                  <td >{{ item.PART_DESC }}</td>
                  <td>{{ item.qty }}</td>
                  <td>{{ item.std }}</td>
                  <td v-if="item.time > 0">{{ item.time.toFixed(2) }}</td>
                  <td v-else>未生產</td>
                  <td v-if="item.FQC > 0">{{ (((item.FQC / item.time )/(item.qty/item.std))*100).toFixed(2) }}%</td>
                  <td v-else></td>
                  <td v-if="item.PasstEFF > 0 ">{{ (item.PasstEFF * 100).toFixed(2) }}%</td>
                  <td v-else>近一年無生產</td>
                  <td v-if="item.FQC > 0">{{ item.FQC}}</td>
                  <td v-else></td>
                  <td v-if="item.ship_qty > 0">{{ item. ship_qty }}</td>
                  <td v-else></td>
                </tr>
              </template>
            </template>
          </tbody>
      </table>
        
    
    
            <table>
              <caption>{{ translatedText.工站列表 }}</caption>
              <thead>
                <tr>
                  <th>{{ translatedText.設備 }}</th>
                  <th>{{ translatedText.姓名 }}</th>
                  <th>{{ translatedText.工時 }}</th>
                  <th>{{ translatedText.工站 }}</th>
                  <th>{{ translatedText.座位 }}</th>
                  <th>{{ translatedText.工站 }}</th>
                  <th>{{ translatedText.工時 }}</th>
                  <th>{{ translatedText.姓名 }}</th>
                  <th>{{ translatedText.設備 }}</th>
    
    
                </tr>
              </thead>
              <tbody>
                  <tr v-for="item in QUERRYTIME" :key="item.seatID" v-show="item.l_NameID !== '' || item.r_NameID !== ''">
                    <td   >{{ item.l_Machine }}</td>
                    <td :title="'工時:'+ ''+  item.l_PT" :style="{ backgroundColor: (item.l_WoID === '' && item.l_NameID !== '') ? 'red' : getBackgroundColor(item.l_NfcCode), textAlign: 'center', verticalAlign: 'middle' }">{{ item.l_NameID }}</td>
                    <td>{{ (item.l_PT * 1).toFixed(2) }}/hr</td>
                    <td
                    :style="
                      item.l_WorkContent === '做線'
                        ? 'color: rgb(255, 211, 6); font-weight: bold;'
                        : item.l_WorkContent === '焊接'
                        ? 'color: blue; font-weight: bold;'
                        : item.l_WorkContent === '成型'
                        ? 'color: purple; font-weight: bold;'
                        : item.l_WorkContent === '成型S'
                        ? 'color: purple; font-weight: bold;background-color: rgb(187, 255, 187);'
                         : item.l_WorkContent === '做線S'
                        ? 'color: rgb(255, 211, 6); font-weight: bold; bold;background-color: rgb(187, 255, 187);'
                        : item.l_WorkContent === '焊接S'
                        ? 'color: blue; font-weight: bold; bold;background-color: rgb(187, 255, 187);'
                        : 'color: black;'
                    "
                  >
                    {{ translatedText[item.l_WorkContent] }}
                  </td>
                  
                    <td>{{ item.seatID }}</td>
                    <td
                    :style="
                          item.r_WorkContent === '做線'
                        ? 'color: rgb(255, 211, 6); font-weight: bold;'
                        : item.r_WorkContent === '焊接'
                        ? 'color: blue; font-weight: bold;'
                        : item.r_WorkContent === '成型'
                        ? 'color: purple; font-weight: bold;'
                        : item.r_WorkContent === '成型S'
                        ? 'color: purple; font-weight: bold;background-color: rgb(187, 255, 187);'
                         : item.r_WorkContent === '做線S'
                        ? 'color: rgb(255, 211, 6); font-weight: bold; bold;background-color: rgb(187, 255, 187);'
                        : item.r_WorkContent === '焊接S'
                        ? 'color: blue; font-weight: bold; bold;background-color: rgb(187, 255, 187);'
                        : 'color: black;'
                    "
                  >
                    {{ translatedText[item.r_WorkContent] }}
                  </td>
                    <td>{{ (item.r_PT * 1).toFixed(2) }}/hr</td>
                    <td :title="'工時:'+ ''+  item.R_PT"  :style="{ backgroundColor: (item.r_WoID === '' && item.r_NameID !== '') ? 'red' : getBackgroundColor(item.r_NfcCode), textAlign: 'center', verticalAlign: 'middle' }">{{ item.r_NameID }}</td>
                    <td >{{ item.r_Machine }}</td>
               
                  </tr>
                </tbody>
            </table>
    
    
    </div>
    <div class="right-content" v-if="wo_mangeContent">
    {{ translatedText.工單管理 }}
    <br></br>
        <table>
            <caption >
            <el-button type="warning" @click="showRealTime" style="float: left;">
                {{ translatedText.在線生產看板 }}
        
            </el-button>{{ translatedText.工單列表 }}
        </caption>
    
          <thead>
            <tr>
              <th>{{ translatedText.ID }} </th>
              <th>{{ translatedText.工單 }} </th>
              <th>{{ translatedText.品名 }}</th>
              <th>{{ translatedText.數量 }} </th>
              <th>{{ translatedText.標準工時 }} </th>
              <th>{{ translatedText.過往效率 }} </th>
              <th>{{ translatedText.功能 }}</th>
              <th>{{ translatedText.日期 }}</th>
    
            </tr>
          </thead>
          <tbody>
    <template v-for="(item, index) in realTimeData">
        <template v-if="index === 0 || item.NFC_CODE !== realTimeData[index - 1].NFC_CODE || (item.NFC_CODE == realTimeData[index - 1].NFC_CODE && realTimeData[index - 1].Trans_id == 'LOT_PAUSE') ">
            <tr  :key="item.WO_ID"  v-if="item.Trans_id !== 'LOT_PAUSE'"  >
                <td  :rowspan="getRowSpan(index)" :style="{ backgroundColor: getBackgroundColor(item.NFC_CODE)}">{{ item.NFC_CODE }}</td>
              <td>{{ item.WO_ID }}</td>
              <td>{{ item.PART_DESC }}</td>
              <td>{{ item.qty }}</td>
              <td>{{ item.std }}</td>
              <td v-if="item.PasstEFF > 0 ">{{ (item.PasstEFF * 100).toFixed(2) }}%</td>
              <td v-else>近一年無生產</td>
              <td  :rowspan="getRowSpan(index)" >
                <button @click="completeTask(item.WO_ID, item.NFC_CODE)">{{ translatedText.完成 }}</button>
                <button @click="showRemarkSelect(item.WO_ID, item.NFC_CODE)"> {{ translatedText.暫停 }}</button>
              </td>
            </tr>
            <tr v-else>            
              <td>{{ item.NFC_CODE }}</td>
              <td >{{ item.WO_ID }}</td>
              <td>{{ item.PART_DESC }}</td>
              <td>{{ item.qty }}</td>
              <td>{{ item.std }}</td>
              <td v-if="item.PasstEFF > 0 ">{{ (item.PasstEFF * 100).toFixed(2) }}%</td>
              <td v-else>近一年無生產</td>
              <td >
                <button :disabled="isButtonDisabled" @click="REWORK(item)">{{ translatedText.復工 }}</button>
              </td>
              <td>{{ item.rework_date }}
                <button
                  :disabled="isButtonDisabled"
                  @click="openDateDialog(item.ID)"
                >
                  {{ translatedText.調整 }}
                </button>
              </td>
            </tr>
        </template>
     <template v-else>
        <tr  :key="item.WO_ID"  v-if="item.Trans_id !== 'LOT_PAUSE'  "  >
          <td >{{ item.WO_ID }}</td>
          <td>{{ item.PART_DESC }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.std }}</td>
          <td v-if="item.PasstEFF > 0 ">{{ (item.PasstEFF * 100).toFixed(2) }}%</td>
          <td v-else>N/A</td>
        </tr>
        <tr v-else>            
          <td >{{ item.WO_ID }}</td>
          <td>{{ item.PART_DESC }}</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.std }}</td>
          <td v-if="item.PasstEFF > 0 ">{{ (item.PasstEFF * 100).toFixed(2) }}%</td>
          <td v-else>近一年無生產</td>
          <td >
            <button :disabled="isButtonDisabled" @click="REWORK(item)">{{ translatedText.復工 }}</button>
          </td>
        </tr>
    
    </template>
    </template>
          </tbody>
        </table>
        <hr></hr>
        <hr></hr>
        <label for="ERP">{{ translatedText.輸入工單 }}</label>
        <input id="ERP" type="text" v-model="selectedERP"  @keydown.enter="checkAndSelectERP" >
    
        <button type="button" @click="checkAndSelectERP" :disabled="isButtonDisabled" @keydown.enter="checkAndSelectERP">
          {{ translatedText.查詢 }}
        </button>
        <label>
          <input type="radio" v-model="Stickers" value="GEN">
          N/A
        </label>
        <label>
          <input type="radio" v-model="Stickers" value="TZ">
          {{ translatedText.貼紙班 }} 
        </label>
        <label>
          <input type="radio" v-model="Stickers" value="CD">
          {{ translatedText.裁剝班 }} 
        </label>
        
    
    
        <label >  {{ translatedText.workOrder1 }}</label>
    
    
        <hr></hr>
        <table>
            <caption style="font-size: 18px;">{{ translatedText.設定工單列表 }}</caption>
          <thead>
            <tr>
    
              <th>{{ translatedText.工單 }}</th>
              <th>{{ translatedText.料號 }}</th>
              <th>{{ translatedText.品名 }}</th>
              <th>{{ translatedText.數量 }}</th>
              <th>{{ translatedText.標準工時 }}</th>
              <th>{{ translatedText.過往效率 }}</th>
              <th>{{ translatedText.功能 }}</th> <!-- 新添加的列标题 -->
           
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in ERPDATA" :key="item.wadoco" >
              <td >{{ item.wadoco }}</td>
              <td>{{ item.walitm }}</td>
              <td>{{ item.wadl01 }}</td>
              <td>{{ item.wauorg }}</td>
              <td>{{ item.wlrunl_sum }}</td>
              <td>{{ (item.avgStdEff * 100).toFixed(2)}}%</td>
              <td><button @click="removeRow(item)">{{ translatedText.移除 }}</button></td> <!-- 新添加的移除按钮 -->
            </tr>
            <tr>
                <td colspan="3">{{ translatedText.總和 }}</td>
                <td>{{ calculateTotal('wauorg') }}</td>
                <td>{{ calculateTotal('wlrunl_sum').toFixed(2) }}</td>
              </tr>
          </tbody>
        </table>
    
        <template>
          <div>
            <!-- 彈出視窗 -->
            <div v-if="showSelect" class="modal">
              <div class="modal-content">
                <span class="close" @click="closeModal">&times;</span>
                <h3>請選擇暫停原因</h3>
                <select v-model="selectedRemark" style="margin-top: 10px; width: 100%;">
                  <option disabled value=""></option>
                  <option value="生管通知暂停">生管通知暂停</option>
                  <option value="物料欠料(工單欠料)">物料欠料(工單欠料)</option>
                  <option value="物料欠料(益領欠料)">物料欠料(益領欠料)</option>
                  <option value="物料異常">物料異常</option>
                  <option value="不良品無法出理">不良品無法出理</option>
                  <option value="模製具異常">模製具異常</option>
                  <option value="設備異常">設備異常</option>
                </select>
              <!--   <h3>預計復工日期</h3>
                <input
                  type="date"
                  v-model="selectedpauseDate"
                  style="margin-top: 10px; width: 100%;"
                />-->
                <div style="margin-top: 15px;">
                  <button @click="closeModal" style="margin-right: 10px;">取消</button>
                  <button @click="pauseTask">確認</button>
                </div>
              </div>
            </div>
          </div>
        </template>
    
      <!-- 日期選擇對話框 -->
      <div v-if="showDialog" class="modal">
        <div class="modal-content">
          <h3>選擇日期</h3>
          <input
            type="date"
            v-model="selectedDate"
          />
          <div style="margin-top: 15px;">
            <button @click="updateReworkDate">確定</button>
            <button @click="closeDialog">取消</button>
          </div>
        </div>
      </div>
    
        <hr></hr>
        <label for="dpSelect">{{ translatedText.choose }}:</label>
        <select id="dpSelect" v-model="selectednfccode" >
          <option v-for="dpOption in dpOptions" :key="dpOption" :value="dpOption">{{ dpOption }}</option>
        </select>
        <button  @click="uploadData">{{ translatedText.提交 }}</button>
        <br>
    
        <div v-if="showShopFloor">
          <label for="ERP">{{ translatedText.輸入開始序號 }}</label>
          <input id="ERP" type="text" />
          <hr></hr>
          <table>
              <caption style="font-size: 18px;">{{ translatedText.工站管理 }}</caption>
              <thead>
                  <tr>
                      <th>{{ translatedText.工站編號 }}</th>
                      <th>{{ translatedText.工站名稱 }}</th>
                      <th>{{ translatedText.綁定工站 }}</th>
                      <th>{{ translatedText.測試工站 }}</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="item in sfoperator" :key="item.OPERATION_NO">
                      <td>{{ item.OPERATION_NO }}</td>
                      <td>{{ item.OPERATION_DESC }}</td>
                      <td>{{ item.LINK }}</td>
                      <td>{{ item.TEST }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
    <div class="right-content" v-if="staff_mangeContent">
    
        <el-button type="warning" @click="showRealTime" style="float: left;">
            {{ translatedText.在線生產看板 }}
    
        </el-button>
    
      <header >{{ translatedText.人員管理 }}</header>
      <br></br>
       <button @click="new_staff" >{{ translatedText.New }}</button>
       <button @click="show_delete" >{{ translatedText.delete }}</button>
       <button @click="show_UPDATE" >{{ translatedText.修改 }}</button>
       <button @click="show_CANCLE" >{{ translatedText.取消 }}</button>
       <div v-if="showForm">
        <form @submit.prevent="addNewStaff">
          <label>{{ translatedText.部門 }}</label>
          <input v-model="newStaff.department"  required />
    
          <label>{{ translatedText.工號 }}</label>
          <input v-model="newStaff.jobnumber" required />
    
          <label>{{ translatedText.姓名 }}</label>
          <input v-model="newStaff.username" required />
    
          <label>{{ translatedText.工作拉 }}</label>
          <input v-model="newStaff.work_department"  />
    
    
          <button type="submit">{{ translatedText.完成 }}</button>
        </form>
      </div>
        <table>
            <thead>
              <tr>
                <th  class="number-column"> {{ translatedText.ID }}  </th>
                <th  class="number-column">{{ translatedText.出勤 }}</th>
                <th class="number-column">{{ translatedText.部門 }}</th>
                <th class="number-column">{{ translatedText.工作拉 }}</th>
                <th class="number-column">{{ translatedText.工號 }}</th>
                <th class="number-column">{{ translatedText.姓名 }}</th>
                <th class="number-column">{{ translatedText.備註 }}</th>
                <th v-if="!showActions">{{ translatedText.Status }}</th>
                <th class="number-column" v-if="!showActions">{{ translatedText.工作部門 }}</th>
                <th v-if="!showActions">{{ translatedText.事由 }}</th>
                <th v-if="showActions">{{ translatedText.功能 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in staffData" :key="item.id">
                <td :style="item.online === '01' ? (item.out_department.length > 9 ? { backgroundColor: 'red' } : { backgroundColor: '#19f032' }) : {}">
                  {{ index + 1 }}
                </td> 
                <td> <input type="checkbox" :checked="item.show === 'T'" @change="toggleStatus(item.id,item.show)"></td> 
                <td>
                  <template v-if="item.editable">
                    <input v-model="item.department" required>
                  </template>
                  <template v-else>
                    {{ item.department }}
                  </template>
                </td>
                <td>
                  <template v-if="item.editable">
                    <input v-model="item.work_department" required>
                  </template>
                  <template v-else>
                    {{ item.work_department }}
                  </template>
                </td>
                <td>
                  <template v-if="item.editable">
                    <input v-model="item.jobnumber" required>
                  </template>
                  <template v-else>
                    {{ item.jobnumber }}
                  </template>
                </td>
                <td class="number-column">
                  <template v-if="item.editable">
                    <input v-model="item.username" required>
                  </template>
                  <template v-else>
                    {{ item.username }}
                  </template>
                </td>
                <td class="number-column">
                  <template v-if="item.editable">
                    <input v-model="item.remark" required>
                  </template>
                  <template v-else>
                    {{ item.remark }}
                  </template>
                </td>
                <td class="number-column" v-if="!showActions">
                  <span v-if="item.status === '年休' || item.status === '請假' || item.status === '哺乳假' || item.status === '工傷' || item.status === '工傷陪護' || item.status === '借出' || item.status === '新進員工' || item.status === '夜班'|| item.status === '備註'">       
                    {{ translatedText[item.status] }}，({{ translatedText.應報考勤 }}:{{ item.hr_time }}/hr) <button @click="delete_hr(item.id)" >{{ translatedText.取消 }}</button>
                </span>
                <span v-else>
                    <button @click="updateStatus(item.jobnumber, '年休')">{{ translatedText.年休 }}</button>
                    <button @click="updateStatus(item.jobnumber, '請假')">{{ translatedText.請假 }}</button>
                    <button @click="updateStatus(item.jobnumber, '哺乳假')">{{ translatedText.哺乳假 }}</button>
                    <button @click="updateStatus(item.jobnumber, '工傷')">{{ translatedText.工傷 }}</button>
                    <button @click="updateStatus(item.jobnumber, '工傷陪護')">{{ translatedText.工傷陪護 }}</button>
                    <button @click="updateStatus(item.jobnumber, '借出')">{{ translatedText.借出 }}</button>
                    <button @click="updateStatus(item.jobnumber, '夜班')">{{ translatedText.夜班 }}</button>
                    <button @click="updateStatus(item.jobnumber, '備註')">{{ translatedText.備註 }}</button>
                </span>
                </td>
                <td v-if="!showActions && item.department.substring(0, 6) !== item.out_department">
                  {{ item.out_department }}
                </td>
                <td v-else="!showActions">
                
                </td>
                <td v-if="!showActions">{{ item.note }}</td>
                <td  v-if="showActions" > 
                  <template v-if="item.editable">
                    <button @click="UPDATE_staffData(item)">{{ translatedText.完成 }}</button>
                  </template>
                  <template v-else>
                    <button @click="delete_staffData(item.id)">{{ translatedText.delete }}</button>
                  </template>
         
                </td>
              </tr>
            </tbody>
          </table>
          
    
    </div>
    <div class="right-content" v-if="fqc_mangeContent">
      <header >  <el-button type="warning" @click="showRealTime" style="float: left;">
        {{ translatedText.在線生產看板 }}
    </el-button>{{translatedText.完工數量}}</header>
    
      <br></br>
      <table>
    
        <thead>
          <tr>
            <th>{{translatedText.工單}}</th>
            <th>{{translatedText.品名}}</th>
            <th>{{translatedText.數量}}</th>
            <th>{{translatedText.標準工時}}</th>
            <th>{{translatedText.執行工時}}</th>
            <th>{{translatedText.已完成數量}}</th>
            <th>{{translatedText.功能}}</th> <!-- 新增的列 -->
    
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in realTimeData">
    
            <!-- 只在編號的第一行渲染 -->
            <tr :key="item.WO_ID" v-if="item.Trans_id !== 'LOT_PAUSE'">
              <td :style="{ backgroundColor: getBackgroundColor(item.NFC_CODE), textAlign: 'center', verticalAlign: 'middle' }">{{ item.WO_ID }}</td>
              <td>{{ item.PART_DESC }}</td>
              <td>{{ item.qty }}</td>
              <td>{{ item.std }}</td>
              <td v-if="item.time > 0">{{ item.time.toFixed(2) }}</td>
              <td v-else>未生產</td>
              <td>
          
                <input type="number" v-model="item.FQC" @change="validateInput(item)">
          
                <br>
                 <span v-if="item.inputError" style="color: red;">{{translatedText.fqcer1}}</span>
                 <span v-if="item.inputError2" style="color: red;">{{translatedText.fqcer2}}</span>
              </br>
              </td>
              <td>
                <button @click="completeWorkOrder(item.WO_ID, item.FQC)">{{translatedText.提交}}</button>
              </td>
            </tr>
          </template>
        </tbody>
    
    
      </table>
      <br></br>
      <button style="float: right;" @click="updateAllRatings">{{ translatedText.提交 }}</button>  
      <table>
        <thead>
          <tr>
            <th>{{translatedText.日期}}</th>
            <th>{{translatedText.工號}}</th>
            <th>{{translatedText.姓名}}</th>
            <th>{{translatedText.工站}}</th>
            <th>{{translatedText.執行工時}}/H</th>
            <th>08-10</th>
            <th>10-12</th>
            <th>13-15</th>
            <th>15-17</th>
            <th>17-20</th>
            <th>{{translatedText.已完成數量}}</th>
        <!--    <th>{{translatedText.功能}}</th>  新增的列 -->
    
          </tr>
        </thead>
        <tbody>
          <template v-for="(item, index) in RATING_data">
    
            <!-- 只在編號的第一行渲染 -->
            <tr >
              <td>{{ item.MFG_DAY }}</td>
              <td>{{ item.JOB_NUMBER }}</td>
              <td>{{ item.USER_NAME }}</td>
              <td>{{ item.WORK_CONTENT }}</td>
              <td>{{ item.DATE_MINUTE }}</td>
        <!-- 各时间段的输入框 -->
        <td > <input type="number"  v-model="item.COMPLETED_QTY_1"  class="short-input"> </td>
        <td> <input type="number"  v-model="item.COMPLETED_QTY_2"  class="short-input"> </td>
        <td> <input type="number"  v-model="item.COMPLETED_QTY_3"  class="short-input"> </td>
        <td> <input type="number"  v-model="item.COMPLETED_QTY_4"  class="short-input"> </td>
        <td> <input type="number"  v-model="item.COMPLETED_QTY_5"  class="short-input"> </td>
    
        <!-- 已完成数量为五个时间段的总和 -->
        <td>{{ calculateTotalCompletedQty(item) }}
    
          <br>
          <span v-if="item.inputError" style="color: red;">{{translatedText.fqcer1}}</span>
          <span v-if="item.inputError2" style="color: red;">{{translatedText.fqcer2}}</span>
          </br>
        </td>
    
            <!--      <td>
                <button @click="updateRATINGDate(item.id, item.COMPLETED_QTY_1,item.COMPLETED_QTY_2,item.COMPLETED_QTY_3,item.COMPLETED_QTY_4,item.COMPLETED_QTY_5,   calculateTotalCompletedQty(item))">{{translatedText.提交}}</button>
              </td>-->
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </script>
  <script type="module" src="src/app.js"></script>
</body>
</html>
